<h1>Football Shop</h1>

<h5>NPM:</h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:add_product' %}">
  <button>+ Add Product</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<hr>

<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 

{% if not products %}
  <p>Belum ada data produk pada Football Shop.</p>
{% else %}

  {% for product in products %}
  <div>
    <h2>
      <a href="{% url 'main:product_detail' product.id %}">
        {{ product.name }}
      </a>
    </h2>

    <p>
      <b>{{ product.category }}</b>
      {% if product.is_featured %} | <b>Featured</b>{% endif %}
      | <i>Rp {{ product.price }}</i>
    </p>

    {% if product.thumbnail %}
      <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
      <br />
    {% endif %}

    <p>{{ product.description|truncatewords:25 }}...</p>

    <p>
      <a href="{% url 'main:product_detail' product.id %}">
        <button>Lihat Detail</button>
      </a>
    </p>
  </div>
  <hr>
  {% endfor %}

{% endif %}
